/* Set type */
h1,h2,h3 {
    font-family: 'Raleway', sans-serif;
}

h4,h5,p,a,li {
font-family: 'Montserrat', sans-serif;
}
body {
    display: grid;
    grid-template-areas:
    "navigation"
    "header"
    "content"
    "footer";
    min-height: 100vh;
}

.navigation  {
    grid-area: navigation;
    background-color: #333;
    color: #fff;
    padding-left: 1em;
    padding-top:1em;
    cursor: pointer;
      
}

a:hover {
color:#ddd;
}

a:visited {
    color: #ff2;
}



a {
    display:inline-block
}


.header {
    grid-area: header;
    background-color: #ddd;
}
.content {
    grid-area: content;
    background-color: #336;
}
.footer {
    grid-area: footer;
    background-color:#ff2;
}
/* Break into sidebar layout on large screens */
@media (min-width: 768px) {
    body {
      grid-template-columns: 10rem auto;
      grid-template-rows: min-content auto min-content;
      grid-template-areas:
        "navigation header"
        "navigation content"
        "navigation footer";
        
    }
    .navigation {
        min-height: 100vh;
    }
}